* {
  padding: 0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: "Alef", sans-serif;
  font-family: "Varela Round", sans-serif;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.recomandtions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img5 {
  background-image: url("../images2/recommendations/AndyReco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.price-inner:hover {
  transform: scale(1.1);
  color: white;
  font-size: 20px;
  background-image: linear-gradient(to bottom, #f54b4ba2, #3455ec);
}
.price-inner {
  transition: transform 1.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  transition: all 0.9s cubic-bezier(0.21, 0.18, 0, 1.13);
  margin: 20px;
  background-image: linear-gradient(to bottom, #ff7a7aa2, #7991ff);
  box-shadow: 0px 3px 18px 3px rgba(89, 79, 224, 0.5);
  border-radius: 20px;
  padding: 25px 15px;
  position: relative;
}
.price-front {
  position: absolute;
  height: 150px;
}
.price-inner1,
.price-inner3 {
  min-height: 400px;
  width: 250px;
}
.price-inner2 {
  min-height: 450px;
  width: 270px;
}
.price-inner2,
.price-inner1,
.price-inner3 {
  margin-top: 15px;
}

.price-img {
  bottom: 5px;
}
.home-img {
  width: 130px;
  height: 130px;
  bottom: 5px;
}
.waze-img {
  width: 120px;
  height: 200px;
  bottom: 5px;
}
.zoom-img {
  width: 130px;
  height: 130px;
  bottom: 5px;
}

.top-header {
  color: white;
  top: 25px;
  background-color: red;
  border-radius: 1rem;
  width: 100%;
}
.reco-inner {
  transition: transform 1.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  transition: all 0.9s ease;
  margin: 20px;
  background-image: linear-gradient(to bottom right, #ffb3f5, #8bfff7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 18px 3px rgba(89, 79, 224, 0.5);
  border-radius: 20px;
  padding: 25px 15px;
  min-height: 500px;
  width: 250px;
  position: relative;
}

.reco__innerA {
  transition: transform 1.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  transition: all 0.9s ease;
  background-image: linear-gradient(to bottom right, #ffb3f5, #8bfff7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 3px 18px 3px rgba(89, 79, 224, 0.5);
  border-radius: 20px;
  min-height: 500px;
  width: 250px;
  position: relative;
}
button:hover {
  cursor: pointer;
}
footer {
  padding-top: 15vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom right, #47003e, #00554f);
  min-height: 100vh;
}
.footer-up {
  display: flex;
  align-self: center;
  justify-self: center;
  color: honeydew;
  margin-top: 1%;
  min-height: 50vh;
  right: 50%;
  background-color: var(--dark);
  box-shadow: 0px 3px 18px 3px rgba(235, 89, 5, 0.3);
}
.footer-up > form {
  padding: 15px;
  margin: 15px;
  background-color: rgba(54, 54, 54, 0.699);
}

input,
textarea {
  min-width: calc(100%);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}

input::placeholder {
  color: rgb(68, 68, 68);
}

.footer-down {
  min-height: 8vh;
  color: honeydew;
  position: absolute;
  background-color: #ff00dd23;
  width: 100%;
  display: flex;
  justify-content: space-around;
  bottom: 0px;
  align-items: center;
}
.nav-button {
  all: unset;
  cursor: pointer;
}

#5 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section5container {
  width: 100%;
  min-height: 100%;
  background-color: rgb(202, 10, 10);
  box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.562);
  z-index: 3;
}

.contactMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.phone {
  background: url("../images2/phone.png") rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  animation: whatsapp 0.9s infinite alternate;
  /* align-self: start; */
}
.whatsappContact {
  background: url("../images2/whatsapp.png") rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  animation: whatsapp 0.9s infinite alternate;
}
.contactHeader {
  background-color: #e495d9a9;
  text-align: center;
  box-shadow: 0px 3px 5px 3px rgba(255, 255, 255, 0.562);
  margin: 45px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: var(--light);
  letter-spacing: 4px;
  z-index: 2;
}

.phoneNumber {
  background-color: #23a83923;
  align-self: center;
  text-align: center;
  font-size: 32px;
}

.contactMe {
  height: 500px;
  position: relative;
  background-color: rgb(228, 169, 169);
}

.whatsapp {
  background: url("../images2/whatsapp.png") rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  animation: whatsapp 0.9s infinite alternate;
  z-index: 1;
}

@keyframes whatsapp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

html {
  scroll-behavior: smooth;
}
.sections {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
:root {
  --primary1: #ff00dd;
  --secondary1: #0400ff;

  --primary2: #0400ff;
  --secondary2: #00af17;

  --primary3: #00af17;
  --secondary3: #02dbc9;

  --dark: #292929;
  --light: #e6e6e6;
}

.section-C {
  padding-top: 15vh;
  display: flex;
  background-image: linear-gradient(to bottom right, #47003e, #00554f);
  min-height: 100vh;
  background-color: rgb(161, 161, 161);
  align-items: center;
  justify-content: center;
}

.section-B {
  background-color: white;
}
.reco-box {
  width: 100%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.562);
}

.why-me-box {
  width: 97%;
  min-height: 97%;
  background-image: linear-gradient(to bottom right, #8a0078, #00635a);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.562);
}

.cards__grid {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "why__me"
    "crad1" "crad2" "crad3";
  z-index: 1;
}
.recos__grid {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "why__me"
    "crad1" "crad2" "crad3";
  z-index: 1;
}
.recomanditio-headline,
.prices-headline {
  box-shadow: 0px 5px 8px 5px rgba(133, 151, 233, 0.562);
  margin: 45px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--dark);
  letter-spacing: 4px;
  z-index: 2;
}

.why__me {
  box-shadow: 0px 3px 5px 3px rgba(255, 255, 255, 0.562);
  margin: 45px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: var(--light);
  letter-spacing: 4px;
  z-index: 2;
}
.card {
  width: 300px;
  height: 450px;
  perspective: 1000px;
}
.recoA {
  width: 300px;
  height: 500px;
  perspective: 1000px;
}
.card1,
.card2,
.card3 {
  display: flex;
  justify-content: center;
}

.reco11,
.reco22,
.reco33 {
  display: flex;
  justify-content: center;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.reco__innerA {
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.reco {
  perspective: 1000px;
  position: relative;
}
.is-flipped1 {
  transform: rotateY(540deg);
}
.is-flipped2 {
  transform: rotateY(180deg);
}
.is-flipped3 {
  transform: rotateY(-540deg);
}

.reco-is-flipped1 {
  transform: rotateY(540deg);
}
.reco-is-flipped2 {
  transform: rotateY(180deg);
}
.reco-is-flipped3 {
  transform: rotateY(-540deg);
}
.reco-is-flipped4 {
  transform: rotateY(-540deg);
}
.reco-is-flipped5 {
  transform: rotateY(-540deg);
}
.pencil-reco {
  position: absolute;
  top: 0%;
  transform: scale(0.5);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.3);
}
.reco__faceA {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.3);
}
.reco__card__face {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.3);
}
.reco--back {
  position: relative;
  background-color: var(--light);
  transform: rotateY(180deg);
  background-color: var(--light);
  width: 250;
  min-height: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face--front1 {
  background-image: linear-gradient(
    to bottom right,
    var(--primary1),
    var(--secondary1)
  );
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.card__face--front2 {
  background-image: linear-gradient(
    to bottom right,
    var(--primary2),
    var(--secondary2)
  );
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card__face--front3 {
  background-image: linear-gradient(
    to bottom right,
    var(--primary2),
    var(--secondary2)
  );
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.reco__faceA--front1 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.reco__faceA--front2 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.reco__faceA--front3 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card__face--back {
  background-repeat: no-repeat;
  background-size: cover;
}

.card__face--back1 {
  background-image: url("../images2/recommendations/aviraShelly.jpeg");
}
.card__face--back2 {
  background-image: url("../images2/recommendations/heli96.jpeg");
}
.card__face--back3 {
  background-image: url("../images2/recommendations/sigi96.jpeg");
}

.reco__face--back1 {
  background-image: url("../images2/recommendations/lessoonsHeli.jpeg");
}

.reco__face--back2 {
  background-image: url("../images2/recommendations/AndyReco.jpg");
}

.reco__face--back3 {
  background-image: url("../images2/recommendations/khanLomdimShelly.jpeg");
}

.clickMe {
  margin-bottom: 20px;
  animation: clickme 0.7s alternate infinite;
}

@keyframes clickme {
  0% {
    color: rgb(255, 255, 255);
  }

  100% {
    color: rgba(248, 144, 238, 0.836);

    font-size: 18px;
  }
}
.achive1 {
  font-size: 25px;
  color: whitesmoke;
}
.achive2 {
  font-size: 40px;
  color: whitesmoke;
}
.achive3 {
  font-size: 60px;
  color: whitesmoke;
}
.commas {
  transform: scale(0.2);
  position: absolute;
  bottom: -5%;
  left: 0;
  z-index: 1;
}
.human,
.fun {
  font-size: 40px;
  color: whitesmoke;
}
.card__face--front3 {
  background-image: linear-gradient(
    to bottom right,
    var(--primary3),
    var(--secondary3)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.reco111,
.reco222,
.reco333,
.reco444,
.reco555 {
  color: rgb(0, 0, 0);
  padding: 15px 20px;
}

.card__face--front1 h2,
.card__face--front2 h2,
.card__face--front3 h2 {
  color: #fff;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
  background-color: var(--light);
}

.card__contant {
  width: 100%;
  height: 100%;
}

.card__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100px;
  border-radius: 0 0 50% 0;
}
.card__header1::after {
  background-image: linear-gradient(
    to bottom left,
    var(--secondary1) 10%,
    var(--primary1) 110%
  );
}
.card__header2::after {
  background-image: linear-gradient(
    to bottom left,
    var(--secondary2) 10%,
    var(--primary2) 110%
  );
}
.card__header3::after {
  background-image: linear-gradient(
    to bottom left,
    var(--secondary3) 10%,
    var(--primary3) 110%
  );
}
.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #fff;
  object-fit: cover;
}

a {
  color: inherit;
}
.section-A {
  min-height: 100vh;
  background: linear-gradient(#000000, rgba(0, 0, 0, 0.308)),
    url("../images2/Classroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.section-D {
  padding-top: 15vh;
  min-height: 100vh;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-projects-sentance {
  color: var(--dark);
  padding: 1vh 0vh 6vh;
  font-size: 32px;
  letter-spacing: 4px;
  z-index: 2;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.projects > * {
  background-color: #fff;
  min-height: 50vh;
  width: 300px;
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  border: 0, 0, 3, 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.13);
  background-color: rgba(0, 0, 0, 0.849);
  z-index: 5;
}

.LiorMalichilogo {
  color: rgb(211, 211, 211);
  letter-spacing: 5px;
  font-size: 50px;
}
.liorMalichiLogoContainer {
  padding: 5px;
}
.liorMalichiLogoContainer:hover .LiorMalichilogo {
  animation: logoAnimation 1.2s ease-in-out both;
}
.nav-links {
  display: flex;
  width: 55%;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  color: rgb(211, 211, 211);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: rgb(211, 211, 211);
  margin: 3px;
  transition: all 0.3s ease;
}
.sentances {
  position: absolute;
  top: 19%;
  right: 50%;
  align-items: center;
  transform: translateX(50%);
  color: white;
}

/* The typing effect */

@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}

@keyframes typing2 {
  from {
    width: 0;
    color: rgb(255, 255, 255);
  }
  to {
    width: 100%;
    color: rgb(255, 255, 255);
  }
}
@keyframes resumeSentanceAnimation {
  0% {
    opacity: 0;
  }
  50% {
    font-weight: 300;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes downloadAnimation {
  0% {
    opacity: 0;
  }
  50% {
    font-weight: 300;
  }
  100% {
    opacity: 100%;
    cursor: pointer;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.hey {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-left: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing1 1s steps(10, end) forwards,
    blink-caret 0.75s step-end forwards;
  width: fit-content;
  font-size: 70px;
}

.myImage {
  background-image: url("../images2/me.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  right: 10px;
  top: 200px;
  position: absolute;
  background-color: #fff;
  border: 5px solid #fff;
  object-fit: cover;
}

.im-container {
  padding-top: 250px;
}
.Im-Lior-Malichi {
  color: rgba(255, 255, 255, 0);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-left: 0.15em solid rgba(255, 166, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing2 3s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
  animation-delay: 1s;

  width: 1100px;
  font-size: 40px;
}
.resume-sentance {
  margin-bottom: 20px;
  margin-top: 20px;
}
.resume {
  opacity: 0%;
  animation: resumeSentanceAnimation 1s ease-in forwards;
  animation-delay: 4.2s; /**************4.2***********88*/

  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 25px;
}

.Download {
  opacity: 0;
  background-image: linear-gradient(
    to bottom right,
    var(--primary1),
    var(--secondary3)
  );
  color: rgb(255, 255, 255);
  animation: downloadAnimation 1.5s ease-in forwards;
  animation-delay: 4.8s;
  padding: 10px;
  transition-duration: 0.4s;
  border-width: 0px;
  border-radius: 5px;
}

.awesome {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
}
.Download:hover {
  padding: 12px;
  background-color: rgba(110, 190, 134, 0.808);
  transition-duration: 0.2s;
  color: rgb(10, 10, 10);
}

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  .phone {
    width: 120px;
    height: 120px;
  }
  .whatsappContact {
    width: 100px;
    height: 100px;
  }
  .whatsapp {
    width: 50px;
    height: 50px;
  }
  .prices {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
      "why__me"
      "crad1"
      "crad2"
      "crad3";
    gap: 80px;
  }

  .prices {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
      "prices-headline"
      "price1"
      "price2"
      "price3";
    gap: 10px;
    justify-items: center;
  }

  .cards__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
      "why__me"
      "crad1"
      "crad2"
      "crad3";
    gap: 80px;
  }
  .recos__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
      "why__me"
      "crad1"
      "crad2"
      "crad3";
    gap: 80px;
  }

  .why__me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px;
    font-size: 19px;
    color: var(--light);
    letter-spacing: 2px;
    z-index: 4;
  }
  /* 
  .card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
  } */

  .section-A {
    min-height: 100vh;
  }

  .sentances {
    position: absolute;
    top: 20%;
    right: 50%;
    align-items: center;
    transform: translateX(50%);
    color: white;
  }
  .myImage {
    position: absolute;
    right: 50%;
    top: 35%;
    transform: translateX(50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #fff;
    object-fit: cover;
  }
  .hey {
    font-size: 40px;
    width: 140px;
  }
  @keyframes typing1 {
    from {
      width: 0;
    }
    to {
      width: 130px;
    }
  }

  .Im-Lior-Malichi {
    width: 450px;
    font-size: 11px;
    margin: 0px;
  }
  @keyframes typing2 {
    from {
      width: 0;
      color: rgb(255, 255, 255);
    }
    to {
      width: 100%;
      color: rgb(255, 255, 255);
    }
  }
  nav {
    min-height: 8vh;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 7vh;
    top: 8vh;
    background-color: #000000b2;
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }
  .nav-links {
    font-size: 12px;
  }

  .nav-links li {
    text-align: center;
  }

  .resume-sentance {
    font-size: 12px;
  }
  .nav-links li {
    opacity: 0;
  }

  li:hover {
    animation: listItemAnmation 1s ease-in-out forwards;
  }
  .LiorMalichilogo {
    color: rgb(211, 211, 211);
    letter-spacing: 5px;
    font-size: 30px;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger:hover {
    animation: burgerAnmation 0.5s ease-in-out backwards;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  @keyframes listItemAnmation {
    0% {
      color: rgba(223, 213, 222, 0.836);
    }

    100% {
      color: rgba(37, 5, 37, 0.336);
    }
  }
  @keyframes burgerAnmation {
    0% {
      background-color: rgba(124, 71, 117, 0.548);
    }

    100% {
      background-color: rgba(117, 31, 117, 0.219);
    }
  }

  @keyframes logoAnimation {
    0% {
      transform: translateX(0px);
    }

    16% {
      transform: translateX(10px);
      color: #e2c0d2;
    }
    32% {
      font-size: 35px;
      color: #d1d8ab;
    }
    48% {
      transform: translateX(-20px);
      font-size: 35px;
      color: #abafd8;
    }
    64% {
      font-size: 30px;
      color: rgb(179, 207, 176);
    }
    83% {
      transform: translateX(10px);
      color: #d8b4ab;
    }
    100% {
      color: rgb(211, 211, 211);
    }
  }
}

@media screen and (min-width: 1000px) {
  @keyframes logoAnimation {
    0% {
      transform: translateX(0px);
    }

    16% {
      transform: translateX(10px);
      color: #e2c0d2;
    }
    32% {
      font-size: 55px;
      color: #d1d8ab;
    }
    48% {
      transform: translateX(-20px);
      font-size: 55px;
      color: #abafd8;
    }
    64% {
      font-size: 50px;
      color: rgb(179, 207, 176);
    }
    83% {
      transform: translateX(10px);
      color: #d8b4ab;
    }
    100% {
      color: rgb(211, 211, 211);
    }
  }
}
